@font-face {

}

.App {
    --header_height: 60px;
}

.hw {
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    padding: 24px 70px 32px;
}

.hwTitle {
    margin: 107px 0 10px 70px;
    font-family: 'Montserrat',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.container {
}