.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 70px;
    height: 70px;
    border: 50%;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
